<div class="row py-5">
    <div class="col-md-9">

<table class="table table-bordered">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Action</th>
</tr>
<tr *ngFor="let f of supplierdata">
    <td>{{f.id}}</td>
    <td>{{f.name}}</td>
    <td>
        <button (click)="Update(f)" class="btn btn-primary">Update</button> &nbsp;
        <button (click)="delete(f.id)" class="btn btn-secondary">Delete </button>
    </td>
</tr>

</table>
</div>
    
<div class="col-md-3">

<form #f="ngForm" (ngSubmit)="submit(f)" >
ID: <input type="number" name="id" [(ngModel)]="supplier.id" class="form-control"> <br/>
Name: <input type="text" name="name" [(ngModel)]="supplier.name" class="form-control"> <br/>

<button type="submit" class="btn btn-info"> Submit</button>
</form>
</div>
</div>